#cardsize{
    size: 50px;
}
#card2 :hover{
    margin-left: 20px;
    
}
.container{
    position: relative;
}
.text-box{
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: black;
    color: aliceblue;
    padding-left: 20px;
    padding-right: 20px;
}